.navbar {
    background-color: #00BFA5;
    webkit-box-shadow: 0 5px 5px 0 rgba(0,0,0,0.15);
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.15);
    text-shadow: 1px 1px #000;
}
body {
    background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.body-container {
    display:table;
    width:100%;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) );
    background-position:center top;
    height:350px;
}
.jumbotron {
    background-color: #FAFAFA;
}
.footer {
    min-height: calc(45vh - 70px);
}
.crystal-image {
    width: 20%;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.15);
    margin: 20px;
}
.random-number {
    margin: 20px auto;
    background-color: #EF5350;
    padding: 10px 0;
    text-align: center;
    width: 50%;
    color: #fff;
    webkit-box-shadow: 0 5px 5px 0 rgba(0,0,0,0.15);
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.15);
    text-shadow: 1px 1px #000;
}
.instructions {
    text-align: center;
}
.your-number {
    margin: 20px auto;
    background-color: #0091EA;
    padding: 10px 0;
    text-align: center;
    width: 50%;
    color: #fff;
    webkit-box-shadow: 0 5px 5px 0 rgba(0,0,0,0.15);
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.15);
    text-shadow: 1px 1px #000;
}
#win {
    background-color: rgba(0,0,0,.05);
    padding: 5px 15px;
    font-size: 20px;
}
#losses {
    padding: 5px 15px;
    font-size: 20px;
}

#msg {
    padding: 15px;
    font-size: 25px;
    text-align: center;
}