.navbar {
    background-color: #2196F3;
    webkit-box-shadow: 0 5px 5px 0 rgba(0,0,0,0.15);
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.15);
    text-shadow: 1px 1px #000;
}
body {
    background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.body-container {
    display:table;
    width:100%;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) );
    background-position:center top;
    height:350px;
}
.jumbotron {
    background-color: #FAFAFA;
}
.footer {
    min-height: calc(85vh - 70px);
}
.crystal-image {
    width: 20%;
    border: 1px solid;
    border-color: #000;
    margin: 0px 20px;
}